# Git
.git
.gitignore
.gitattributes

# Docker
.dockerignore
Dockerfile
docker-compose.yml
/docker

# Dependencias
node_modules
vendor

# Archivos de entorno y logs
.env
.env.*
!.env.example
*.log
/storage/logs
/storage/*.key

# Enlaces simbólicos
public/storage

# Archivos de desarrollo
README.md
README-DOCKER.md
phpunit.xml
.phpunit.result.cache
tests/

# IDE
.vscode
.idea
*.swp
*.swo
*~